* {
    box-sizing: border-box;
}

.mySlides {
    display: none
}

img {
    text-align: center;
    width: 50%;
}

div {
    border-top: 2px solid red;
    border-left: 2px solid green;
    border-bottom: 2px solid black;
    border-right: 2px solid yellow;
    padding: 10px;
    padding-bottom: 20px;
    text-align: left;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

p {
    font-family: 'Kdam Thmor Pro';
    padding: 5px;
    color: black;
}

[class*="col-"] {
    float: center;
}

body {
    font-family: 'Kdam Thmor Pro';
    max-width: 80rem;
    margin: auto;
    width: 100%;
    background: rgb(34, 193, 195);
    background: white;
}

.menu {
    float: center;
    margin: auto;
    padding: 2px;
    background-color: aliceblue;
    color: black;
}

.content {
    float: center;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    text-align: center;
    background-color: aqua;
    border: 10px;
    color: black;
    margin-bottom: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    padding: 10px;
    border: 1px;
}

.style {
    border-radius: 2px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #130f40;
    color: white;
    text-align: center;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #130f40;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0c092d;
}

.active {
    background-color: #eaff00;
    color: black;
}

button {
    float: center;
    position: absolute top 200px;
}

.about-title {
    border: 4px;
}