body {
    font-family: 'Kdam Thmor Pro';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #130f40;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover:not(.HomePage) {
    background-color: #0c092d;
}

.HomePage {
    background-color: yellow;
    color: black;
}

.faq-heading {
    border-bottom: #777;
    padding: 20px 60px;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line {
    width: 60%;
    margin: auto;
}


/* Style button untuk buka tutup faq body */

.faq-page {
    /* background-color */
    color: rgb(49, 45, 45);
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

.faq-body {
    margin: auto;
    /* text-align: center; */
    width: 50%;
    padding: auto;
}


/* untuk menampilkan warna jika ada yang mau di klik */

.active,
.faq-page:hover {
    background-color: whitesmoke(234, 7, 7);
}

.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* untuk tombol "plus" (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Untuk tombol "minus"  (-) */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #130f40;
    color: white;
    text-align: center;
    margin-top: 152px;
}

.fc {
    padding: 10px 0px;
    margin: 0px
}