* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

body {
    max-width: 100%;
    margin: auto;
    font-family: sans-serif;
    width: 100%;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #130f40;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 40.8px;
    text-decoration: none;
}

.ProductPage {
    background-color: #eaff00;
    color: black;
}

li a:hover:not(.ProductPage) {
    background-color: #0c092d;
}

.font {
    font-family: 'Kdam Thmor Pro', sans-serif
}

.content {
    margin: 0px 100px 0px 100px;
}

.title {
    margin-top: 40px;
    color: #130f40;
}

.slides {
    margin-top: 70px;
    border-radius: 15px;
    width: 100%;
    height: 300px;
}

.product {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    ;
    margin: 15px 0px;
    padding: 0px;
}

.img {
    width: 154px;
    margin: auto;
}

.name {
    text-align: left;
    margin: 0px;
}

.spec {
    text-align: left;
    margin: 10px 0px;
    margin-right: 10px;
}

.button {
    background-color: #130f40;
    border-radius: 5px;
    border: 0px;
    color: white;
    width: 180px;
    padding: 5px 0;
    margin: 5px 0px 10px 690px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #130f40;
    color: white;
    text-align: center;
}

.fc {
    padding: 10px 0px;
    margin: 0px
}

.col-1 {
    width: 8.33%;
    padding: 0px;
}

.col-2 {
    width: 16.66%;
    padding: 0px;
    padding-left: 10px;
}

.col-3 {
    width: 25%;
    padding: 0px;
}

.col-4 {
    width: 33.33%;
    padding: 0px;
}

.col-5 {
    width: 41.66%;
    padding: 0px;
}

.col-6 {
    width: 50%;
    padding: 0px;
}

.col-7 {
    width: 58.33%;
    padding: 0px;
}

.col-8 {
    width: 66.66%;
    padding: 0px;
}

.col-9 {
    width: 75%;
    padding: 0px;
}

.col-10 {
    width: 83.33%;
    padding: 0px;
    padding-top: 10px;
}

.col-11 {
    width: 91.66%;
    padding: 0px;
}

.col-12 {
    width: 100%;
    padding: 0px;
}